<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>uk.midnite.bcrypt</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>3E008E51-4A7B-4A96-AA36-173E94F4CC2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46EB67C9-FAB4-4208-BAFE-3807D423C0AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>46EB67C9-FAB4-4208-BAFE-3807D423C0AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB30F219-475D-4160-AB98-20BEF7E6A16B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>61CF0EE8-86A4-4B36-8381-012ACF4CEEDD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Simon Rogers</string>
	<key>description</key>
	<string>Encrypts a string with BCrypt</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bcrypt</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BB30F219-475D-4160-AB98-20BEF7E6A16B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>&lt;?php

$query = $argv[1];

echo password_hash($query, PASSWORD_BCRYPT);</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>46EB67C9-FAB4-4208-BAFE-3807D423C0AA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bcrypt</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Encrypt '{query}' string with BCrypt</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3E008E51-4A7B-4A96-AA36-173E94F4CC2D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Copied {query} bcrypt string to clipboard</string>
				<key>title</key>
				<string>Bcrypt</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>61CF0EE8-86A4-4B36-8381-012ACF4CEEDD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3E008E51-4A7B-4A96-AA36-173E94F4CC2D</key>
		<dict>
			<key>xpos</key>
			<integer>145</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>46EB67C9-FAB4-4208-BAFE-3807D423C0AA</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>61CF0EE8-86A4-4B36-8381-012ACF4CEEDD</key>
		<dict>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>BB30F219-475D-4160-AB98-20BEF7E6A16B</key>
		<dict>
			<key>xpos</key>
			<integer>545</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://centralblue.co.uk/</string>
</dict>
</plist>
